<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.fb.qa.extentReportsListener.ExtentReporterNG"></listener>
</listeners>


  <test thread-count="5" name="Test">	
    <classes>
      <class name="com.fb.qa.util.ExcelDataProviderTest"/>
      <class name="com.fb.qa.testcase.SignUpPage_Test"/>
      <class name="com.fb.qa.testcase.ProfilePageTest"/>
      <class name="com.fb.qa.testcase.HomePageTest"/>
      <class name="com.fb.qa.testcase.LoginPageTest"/>
      <class name="com.fb.excel.ExcelDataProviderTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
